.bg-home-top{
    background-image: url(../images/home-top-background-08.jpg);
    background-size: cover;
}
.navbar{								
    position: absolute;
}
body{
    transition: all .3s;
}
.preloader {
    transition: all .3s;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background: url("../images/preloader.gif") center no-repeat #fbfbfb;
}
*{
    transition: all .3s;
}
.w-80{
    width: 80%;
}
.w-85{
    width: 85%;
}
@font-face{
    font-family: "Roboto Light";
    src: url(Roboto-Light.ttf) format("truetype");
}
@font-face{
    font-family: "TitilliumWeb Regular";
    src: url(TitilliumWeb-Regular.ttf) format("truetype");
}
h1, h2, h3, h4, h5, h6, p, a {font-family: "TitilliumWeb Regular"; letter-spacing: 1.2px;}
.text-orange{
    color: #ed6f30;
}
.text-dark-blue{
    color: #0e212d;
}
a:hover{
    text-decoration: none;
}
/* Components */
/* Button and Links */
.link-white-border{
    border: 2px solid #fff;
    padding: 7px 18px;
    color: #fff;
}
.link-white-border:hover{
    color: #fff;
}
/* Pages */
.home-about{
    padding-top: 10rem;
    height: 46.6rem;
}
.carousel-homebanner .home-caption .wrapper{
    position: absolute;
    bottom: 25%;
}
.home-about .tractors{
		position: absolute;
    bottom: 0;
    left: 0;
    width: 500px;
}
.home-about .guy{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 510px;
}
.home-mid-content .image-thumbnail{
    overflow: hidden;
}
.home-mid-content .image-thumbnail .shadow, .bg-mid-value .shadow{
    position: absolute;
    bottom: 0;
    left: 0;
}
.home-mid-content .bg-mid-value{
    background-image: url(../images/home-mid-background-08-01.jpg);
    background-size: cover;
    height: 1024px;
		padding-top: 160px;
}
.home-mid-content .thumbnail .title{
		position: absolute;
		bottom: 15px;
		left: 25px;
}
.home-mid-content .carousel-ourbusiness .owl-nav .owl-prev, .home-mid-content .carousel-ourbusiness .owl-nav .owl-next{
		margin: 0;
}
.home-mid-content .carousel-ourbusiness .owl-nav{
	position: absolute;
	left: -28.8%;
	bottom: 0;
}
.home-mid-content .white-shadow-right{
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 2;
}
.bottom-content .news-section .img-content{
	width: 100%;
}
.bottom-content .news-section .content-wrapper{
	background-image: url(../images/content-highlight-wrapper.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 680px;
	height: 428px;
	padding-left: 6.2rem;
	padding-top: 6.4rem;
	position: absolute;
	bottom: 0;
	right: 0;
}
.footer{
	background-image: url(../images/footer-home-background-12.jpg);
	background-size: cover;
	padding-top: 12rem;

}
.about-top{
    background-image: url(../images/about-top-header-04.jpg);
    padding-top: 23rem;
    padding-bottom: 8.9rem;
}
.about-top .elements{
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-50%);
    width: 130px;
}