*{
    transition: all .3s;
}
@font-face{
    font-family: "Roboto Light";
    src: url(Roboto-Light.ttf) format("truetype");
}
@font-face{
    font-family: "TitilliumWeb Regular";
    src: url(TitilliumWeb-Regular.ttf) format("truetype");
}
@font-face{
    font-family: "TitilliumWeb Italic Regular";
    src: url(TitilliumWeb-ExtraLightItalic.ttf) format("truetype");
}
.bg-home-top{
    background-image: url(../images/home-top-background-08.jpg);
    background-size: cover;
    position: relative;
    z-index: 3;
}
.navbar{								
    position: absolute;
}
.navbar-ansaf{
    position: absolute;
    top: 20px;
    padding-top: 10px;
    z-index: 4;
}
.navbar-ansaf > .row > .menu-wrap > ul{
    text-align: right;
}
.navbar-ansaf > .row > .menu-wrap > ul > li, .navbar-ansaf > .row > .lang-ansaf > ul > li{
    display: inline;
    position: relative;
    margin: 0 15px;
    padding-bottom: 20px;
}
.navbar-ansaf > .row > .lang-ansaf > ul{
    padding-left: 25px;
}
.navbar-ansaf > .row > .menu-wrap > ul > li > ul{
    display: none;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: -50px;
    top: 35px;
    text-align: left;
    list-style-type: none;
    width: 180px;
    height: auto;
    background-color: #fff;
    padding: 13px 20px;
    transition: opacity 1s ease-in-out;
}
.navbar-ansaf > .row > .menu-wrap > ul > li:hover ul{
    display: block;
    visibility: visible;
    opacity: 1;
} 
.navbar-ansaf.home > .row > .menu-wrap > ul > li > a, .navbar-ansaf.home > .row > .lang-ansaf > ul > li > a{
    color: #fff;
}
.navbar-ansaf.home > .row > .menu-wrap > ul > li > ul > li > a{
    font-size: 12px;
}
.navbar-ansaf ul li a{
    color: #666666;
    font-family: "Roboto Light";
}
.navbar-ansaf .logo{
    width: 130px;
}
.navbar-ansaf .lang-ansaf .divider{
    width: 1px;
    height: 24px;
    background-color: #666;
    position: absolute;
    top: 0;
}
.navbar-ansaf .lang-ansaf .divider{
    background-color: #fff;
}
body{
    transition: all .3s;
}
.preloader {
    transition: all .3s;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background: url("../images/preloader.gif") center no-repeat #fbfbfb;
}
*{
    transition: all .3s;
}
.w-80{
    width: 80%;
}
.w-85{
    width: 85%;
}
@font-face{
    font-family: "Roboto Light";
    src: url(Roboto-Light.ttf) format("truetype");
}
@font-face{
    font-family: "TitilliumWeb Regular";
    src: url(TitilliumWeb-Regular.ttf) format("truetype");
}
@font-face{
    font-family: "TitilliumWeb Italic Regular";
    src: url(TitilliumWeb-ExtraLightItalic.ttf) format("truetype");
}
h1, h2, h3, h4, h5, h6, p, a {font-family: "TitilliumWeb Regular"; letter-spacing: 0.3px;}
p{
    font-size: 0.9rem;
}
.font-titillium-reg{
    font-family: "TitilliumWeb Regular";
}
.font-titillium-italic{
    font-family: "TitilliumWeb Italic Regular";
}
.font-roboto{
    font-family: "Roboto Light";
}
.font-50{
    font-size: 50px;
}
.font-75{
    font-size: 75px;
}
.text-orange{
    color: #ed6f30;
}
.text-dark-blue{
    color: #0e212d;
}
.text-blue{
    color: #435e79;
}
.bg-light-gray{
    background: #efefef;
}
.bg-dark-blue{
    background: #0e212d;
}
a:hover{
    text-decoration: none;
}
.text-gray{
    color: #666666;
}
/* Components */
/* Button and Links */
.link-white-border{
    border: 2px solid #fff;
    padding: 7px 18px;
    color: #fff;
}
.link-white-border:hover{
    color: #fff;
}
.link-orange-border{
    border: 2px solid #ed6f30;
    padding: 5px 15px;
}
.link-gray-border{
    border: 2px solid #666666;
    padding: 5px 15px;
    color: #666666;
}
.link-gray-border:hover{
    color: #666666;
}
.link-blue-border{
    color: #0e212d;
    border: 2px solid #0e212d;
}
/* Pages */
.home-about{
    padding-top: 10rem;
    height: 46.6rem;
}
.carousel-homebanner .home-caption .wrapper{
    position: absolute;
    bottom: 34%;
}
.carousel-homebanner .owl-nav{
    position: absolute;
    left: 28.2vw;
    top: 50.3vh;
    z-index: 9;
    transform: translate(-50%);
}
.carousel-homebanner .slide-number{
    position: absolute;
    right: 5vw;
    bottom: 5vw;
    font-style: italic;
}
.bg-home-top .ornaments-blue{
    position: absolute;
    right: 0;
    top: 46%;
    width: 10.9vw;
}
.home-about .tractors{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 500px;
    transition: none;
}
.home-about .guy{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 510px;
    transition: none;
}
.home-mid-content .image-thumbnail{
    overflow: hidden;
}
.home-mid-content .image-thumbnail .shadow, .bg-mid-value .shadow{
    position: absolute;
    bottom: 0;
    left: 0;
}
.home-mid-content .bg-mid-value{
    background-image: url(../images/home-mid-background-08-01.jpg);
    background-size: cover;
    height: 64.2rem;
    padding-top: 7rem;
    background-position: bottom;
    position: relative;
    padding-bottom: 57rem;
}
.home-mid-content .thumbnail .title{
		position: absolute;
		bottom: 15px;
		left: 25px;
}
.home-mid-content .carousel-ourbusiness .owl-nav .owl-prev, .home-mid-content .carousel-ourbusiness .owl-nav .owl-next, .carousel-gallery .owl-nav .owl-next, .carousel-gallery .owl-nav .owl-prev,  .carousel-homebanner .owl-nav .owl-prev,  .carousel-homebanner .owl-nav .owl-next{
		margin: 0;
}
.home-mid-content .carousel-ourbusiness .owl-nav{
	position: absolute;
	left: -28.8%;
	bottom: 0;
}
.home-mid-content .white-shadow-right{
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 2;
}
.bg-mid-value .title-thumbnail{
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.home-mid-content .bg-mid-value .cloud{
    position: absolute;
    left: 72px;
    top: 370px;
    transition: none;
}
.home-mid-content .bg-mid-value .tractors{
    position: absolute;
    bottom: 7vh;
    width: 40vw;
    left: -5vw;
    transition: none;
}
.bottom-content .news-section .img-content{
	width: 100%;
}
.bottom-content .news-section .content-wrapper{
	background-image: url(../images/content-highlight-wrapper.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 680px;
	height: 428px;
	padding-left: 6.2rem;
	padding-top: 6.4rem;
	position: absolute;
	bottom: 0;
	right: 0;
}
.bottom-content .ornament-blue{
    position: absolute;
    left: 0;
    top: -57%;
    width: 10.9vw;
}
.footer-content{
	background-image: url(../images/footer-home-background-12.jpg);
	background-size: cover;
	padding-top: 11rem;
    padding-bottom: 35rem;

}
.footer-content-home{
	background-image: url(../images/footer-home-background-12.jpg);
	background-size: cover;
	padding-top: 11rem;
    padding-bottom: 31rem;

}
.about-top{
    background-image: url(../images/about-top-header-04.jpg);
    padding-top: 10.8rem;
    padding-bottom: 6.3rem;
    background-size: 100%;
}
.about-top .elements{
    position: absolute;
    top: 238px;
    right: 0;
    transform: translateY(-50%);
    width: 10.9vw;
}
.about-mid .content-mid, .vision-mid .content-mid{
    position: absolute;
    right: 0;
    top: 0;
    width: 50vw;
}
.about-mid .content-wrapper{
    padding-top: 10rem;
    padding-bottom: 6rem;
}
.about-mid .second-section{
    background-image: url(../images/about-mid-second-section-04.jpg);
    padding-top: 11rem;
    padding-bottom: 34.7rem;
    background-size: cover;
    background-position: bottom;
}
.about-mid .guy{
    position: absolute;
    bottom: 7vh;
    right: 10vw;
    width: 139px;
    transition: none;
}
.footer-content .number-counter{
    font-size: 80px;
}
.footer-details .logo{
    width: 70%;
    margin: auto;
    display: block;
}
.footer-details .fax-column{
    border-left: 1px solid #bcbcbc;
    border-right: 1px solid #bcbcbc;
}
.about-mid .second-section .owl-nav .owl-prev, .about-mid .second-section .owl-nav .owl-next{
    margin: 0;
}
.about-mid .second-section .owl-nav{
    position: absolute;
    left: 0;
    top: 40px;
}
.about-bottom-content{
    background-image: url(../images/bottom-about-bottom-content-05.jpg);
    background-size: cover;
    padding-top: 12rem;
    padding-bottom: 12rem;
}
.vision-top{
    background-image: url(../images/vision-top-header-02.jpg);
    padding-top: 12.8rem;
    padding-bottom: 8.3rem;
    background-size: 100%;
}
.vision-top .elements{
    position: absolute;
    top: 210px;
    right: 0;
    transform: translateY(-50%);
    width: 10.9vw;
}
.vision-mid{
    background-image: url(../images/vision-mid-second-section-04-02.jpg);
    background-size: cover;
    padding-bottom: 29.6rem;
    position: relative;
    background-position: bottom;
}
.vision-mid .content-wrapper{
    padding-top: 10rem;
    padding-bottom: 6rem;
    padding-left: 3rem;
}
.vision-mid .img-icon{
    width: 23%;
}
.vision-mid .second-section{
    margin-top: 5rem;
}
.vision-mid .two-guy{
    position: absolute;
    bottom: 3%;
    right: 7%;
    width: 16vw;
    transition: none;
}
.bod-top{
    background-image: url(../images/bod-top-header-03.jpg);
    background-size: cover;
    padding-top: 12.8rem;
    padding-bottom: 8.3rem;
    background-size: 100%;
}
.bod-top .elements{
    position: absolute;
    top: 210px;
    right: 0;
    transform: translateY(-50%);
    width: 10.9vw;
}
.bod-mid .first-section{
    padding-top: 39vh;
    background-image: url(../images/bod-mid-second-section-03.jpg);
    background-size: cover;
}
.bod-mid .first-section .portraits{
    width: 230px;
    margin-left: auto;
    margin-right: auto;
}
.bod-mid .first-section .portraits-wrapper{
    margin-bottom: -245px;
}
.bod-mid .second-section{
    background-image: url(../images/bod-second-section-03.jpg);
    padding-top: 20rem;
    background-size: cover;
    padding-bottom: 23.7rem;
}
.bod-bottom-content .ornament-blue{
    position: absolute;
    left: 0;
    top: -94%;
    width: 10.9vw;
}
.bod-bottom-content .details-wrapper{
    position: absolute;
    top: 5rem;
    right: 3rem;
    text-align: right;
}
.bus-top{
    background-image: url(../images/businesses-top-header-02.jpg);
    padding-top: 12.6rem;
    padding-bottom: 10.3rem;
    background-size: 100%;
}
.bus-top .elements{
    position: absolute;
    top: 210px;
    right: 0;
    transform: translateY(-50%);
    width: 10.9vw;
}
.bus-mid .first-section{
    background-image: url(../images/bus-mid-first-section-02.jpg);
    background-size: cover;
    padding-top: 9rem;
    padding-bottom: 9rem;
}
.thumbnail-bus .item{
    padding: 6rem;
}
.bus-mid .bus-client{
    padding: 10rem 0;
}
.busd-top{
    background-image: url(../images/businesses-mining-top-header-02.jpg);
    padding-top: 12.4rem;
    padding-bottom: 3rem;
    background-size: 100%;
}
.busd-top .elements{
    position: absolute;
    top: 210px;
    right: 0;
    transform: translateY(-50%);
    width: 10.9vw;
}
.busd-mid .first-section{
    background-image: url(../images/businesses-mining-mid-02.jpg);
    background-size: cover;
    padding-top: 9rem;
    padding-bottom: 9rem;
    background-position: bottom;
}
.busd-mid .guy-content{
    position: absolute;
    width: 27.9vw;
    bottom: 0;
    transition: none;
}
.buss-top{
    background-image: url(../images/businesses-services-header-02.jpg);
    padding-top: 12.4rem;
    padding-bottom: 3rem;
    background-size: 100%;
}
.buss-top .elements{
    position: absolute;
    top: 210px;
    right: 0;
    transform: translateY(-50%);
    width: 10.9vw;
}
.buss-mid .first-section{
    background-image: url(../images/businesses-services-header-03.jpg);
    background-size: cover;
    padding-top: 9rem;
    padding-bottom: 9rem;
    background-position: bottom;
}
.buss-mid .scope-services{
    position: absolute;
    width: 40vw;
    bottom: 0;
    transition: none;
}
.thumbnail-bus-services{
    padding-top: 10rem;
    padding-bottom: 10rem;
}
.thumbnail-bus-services .items{
    padding-left: 5rem;
    padding-right: 2rem;
}
.thumbnail-bus-services .items .content{
    background-image: url(../images/thum-services-content-bg-02.jpg);
    background-size: cover;
    padding: 5.5rem 5rem 6.5rem 2.5rem;
}
.busl-top{
    background-image: url(../images/business-logistics-header-02.jpg);
    padding-top: 12.4rem;
    padding-bottom: 3rem;
    background-size: 100%;
}
.busl-top .elements{
    position: absolute;
    top: 210px;
    right: 0;
    transform: translateY(-50%);
    width: 10.9vw;
}
.busl-mid .first-section{
    background-image: url(../images/business-logistics-header-03.jpg);
    background-size: cover;
    padding-top: 9rem;
    padding-bottom: 9rem;
}
.busl-mid .tractor-logistic{
    position: absolute;
    bottom: 5%;
    left: 3%;
    width: 42vw;
    transition: none;
}
.detail-logistic{
    background-image: url(../images/businesses-logistic-second-section-02.jpg);
    background-size: cover;
}
.detail-logistic .first-section{
    padding-top: 7.9rem;
    padding-bottom: 7.9rem;
}
.detail-logistic .second-section{
    padding-bottom: 24.2rem;
    padding-top: 5rem;
}
.detail-logistic .second-section .col-lg-5{
    margin-left: 45%;
}
.proj-mid{
    background-image: url(../images/projects-background-04.jpg);
    background-size: cover;
}
.proj-mid .first-section .details{
    padding-top: 12rem;
}
.proj-mid .second-section{
    padding-top: 11rem;
    padding-bottom: 22.2rem;
}
.proj-mid .second-section .button-link{
    padding: .3rem 1rem;
}
.proj-mid .second-section .middle-button{
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
.prevp-top{
    background-image: url(../images/businesses-top-header-02.jpg);
    padding-top: 12.4rem;
    padding-bottom: 3rem;
    background-size: 100%;
}
.prevp-top .elements{
    position: absolute;
    top: 210px;
    right: 0;
    transform: translateY(-50%);
    width: 10.9vw;
}
.prevp-mid .img-content{
    width: 51.2vw;
    position: absolute;
    right: 0;
}
.prevp-mid .first-section .details{
    padding-top: 12rem;
    padding-bottom: 12rem;
    padding-left: 6rem;
}
.list-prevp{
    padding-top: 7.7rem;
}
.list-prevp .details{
    font-size: 13px;
}
.csr-top{
    background-image: url(../images/csr-header-top-bg-08.jpg);
    padding-top: 12.6rem;
    padding-bottom: 10.3rem;
    background-size: 100%;
}
.csr-top .elements{
    position: absolute;
    top: 210px;
    right: 0;
    transform: translateY(-50%);
    width: 10.9vw;
}
.csr-mid .content-mid{
    width: 50vw;
    float: right;
}
.csr-mid .content-wrapper{
    padding-top: 10rem;
    padding-bottom: 5.3rem;
}
.csr-tab .nav-link{
    background-color: #f36b27;
    border: none;
    border-radius: 0;
    color: #fff;
    padding: 20px;
}
.csr-tab .nav-link.active{
    background-color: #112939;
    color: #fff;
}
.csr-tab .details{
    padding: 10rem 8em;
}
.gallery-top{
    background-image: url(../images/gallery-top-header-03.jpg);
    padding-top: 12.6rem;
    padding-bottom: 10.3rem;
    background-size: 100%;
}
.gallery-top .elements{
    position: absolute;
    top: 210px;
    right: 0;
    transform: translateY(-50%);
    width: 10.9vw;
}
.modal-gallery{
    max-width: 95.5%;
}
.modal-gallery .modal-content{
    background: none;
    border: none;
}
.modal-backdrop
{
    opacity: 0.85 !important;
}
.carousel-gallery .owl-nav{
    position: absolute;
    right: 0;
    top: 85px;
    margin-right: -48.3px;
}
.modal-gallery .content-wrapper{
    margin-top: 10rem;
}
.contact-top{
    background-image: url(../images/contact-header-top-bg-02.jpg);
    padding-top: 12.6rem;
    padding-bottom: 10.3rem;
    background-size: 100%;
}
.contact-top .elements{
    position: absolute;
    top: 210px;
    right: 0;
    transform: translateY(-50%);
    width: 10.9vw;
}
.contact-mid .content-mid{
    width: 65vw;
    float: right;
}
.contact-mid .content-wrapper{
    padding-top: 5rem;
}
.input-gray{
    background-color: #f2f2f2;
    border-radius: 0;
    border: none;
}
.form-group.left-forms{
    margin-top: 3.3rem;
    margin-bottom: 3.3rem;
}
.section-forms-ansaf{
    padding: 7rem 3rem;
}
